<canvas id="doughunt" width="600" height="400"></canvas>
<canvas width="600" height="400" id="pie"></canvas>
<canvas width="600" height="400" id="line"></canvas>
<canvas width="600" height="400" id="bar"></canvas>
<canvas width="600" height="400" id="radar"></canvas>
<canvas width="600" height="400" id="polararea"></canvas>
<canvas width="600" height="400" id="bubble"></canvas>
<canvas width="600" height="400" id="sactter"></canvas>
<canvas width="600" height="400" id="area"></canvas>
<canvas width="600" height="400" id="mixed"></canvas>