/* You can add global styles to this file, and also import other style files */


.map {
    width: 100%;
    min-height: 50vh;
    height: 0;

    agm-map {
        height: 400px;
        width: 600px;
    }
}